@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(169, 169, 169, 0.5)
}

/* logo */

.logo-container {
    width: 500px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

/* navigation menu links */

.menu {
    font-size: 180%;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
}

/* hero image */

.hero-image-container {
    background-color: black;
    /* opacity: .5; */
    /* height: 600px;
    width: 100%; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.5)), url('../images/hero-image.jpg') no-repeat center center; */
    /* opacity: .5; */
}

.hero-image {
    width: 100%;
    opacity: .5;
}