@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

/* header, logo, and menu */

header {
    background-color: #cccccc;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 10px;
    border-bottom: .5px solid #000;
}

.logo {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.menu-toggle-icon {
    float: right;
    font-size: 1.8rem;
    margin: 8px 20px 0 0;
}

.menu-toggle {
    display: none;
}

.menu {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background-color: #cccccc;
    width: 100%;
    display: none;
}

.menu li {
    list-style-type: none;
    margin: 0 30px 10px 0;
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
}

.menu a:hover {
    color:#0683c0;
}

.menu-toggle:checked ~ .menu {
    display: block;
}

/* home page and hero image */

.home {
    border: none;
    background-color: black;
    text-align: center;
}

.hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image-small.jpg') center;
    background-size: cover;
    opacity: .35;
}

.home h2,
.home p,
.landing-page-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: text-zoom;
    animation-duration: 1s;
    animation-fill-mode: alternate;
    padding: .45em;
}

.home h2 {
    top: 100px;
    color: #fff;
    font-size: 2.3rem;
    text-shadow: .2rem .2rem #000;
}

.home p {
    top: 250px;
    color: #fff;
    font-size: 1.2rem;
    text-shadow: .14rem .14rem #000;
}

.landing-page-button {
    top: 380px;
    width: 40%;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    color: #fff;
    background-color: #0683c0;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
}

@keyframes text-zoom {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

/* About us section */

.about-us {
    background-color: #cccccc;
    color: #000;
    padding: 1rem;
}

.about-us-container {
    text-align: center;
}

.about-us-paragraphs,
.about-us-image {
    display: inline-block;
    width: 45%;
    padding: 1.5rem;
    vertical-align: middle;
    min-width: 320px;
}

.about-us p {
    font-size: 1rem;
}

/* Services section */

.services {
    background-color: #0683c0;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.services-card {
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    width: 30%;
    min-width: 305px;
    margin: 1rem;
    padding: 1rem;
}

.left-list,
.right-list {
    display: inline-block;
    margin: 2rem;
    text-align: left;
}

/* Media queries */

/* For very small screen sizes with maximum width of 315px */

@media screen and (max-width: 315px) {
    .logo {
        width: 53vw;
        margin-left: 2vw;
    }

    .menu-toggle-icon {
        font-size: 8vw;
        margin-top: 2vw;
        margin-right: 2vw;
    }

    .menu li {
        margin: 0 6vw 4vw 0;
    }

    .menu a {
        font-size: 7vw;
    }

    .hero-image {
        height: 200vw;
    }

    .home h2 {
        top: 26vw;
        font-size: 15vw;
    }
    
    .home p {
        top: 95vw;
        font-size: 8vw;
    }
    
    .landing-page-button {
        top: 150vw;
        font-size: 6vw;
    }  
}

/* For smaller screen sizes with manimum width of 315px and maximum height of 530px - unlikely scenario but good to cater for it */

@media screen and (min-width: 315px) and (max-height: 530px) {
    .hero-image {
        height: 400px;
    }

    .home h2 {
        top: 80px;
    }
    
    .home p {
        top: 200px;
    }
    
    .landing-page-button {
        top: 300px;
    }  
}

/* For smaller screen sizes with manimum width of 315px and maximum height of 430px */

@media screen and (min-width: 316px) and (max-height: 430px) {
    .hero-image {
        height: 340px;
    }

    .home h2 {
        top: 70px;
    }
    
    .home p {
        top: 162px;
    }
    
    .landing-page-button {
        top: 250px;
    }  
}

/* For medium screen sizes with a minimum width of 720px - mainly for ipads in portrait mode */

@media screen and (min-width: 720px) {
    .logo {
        width: 300px;
    }

    .menu-toggle-icon {
        margin-top: 20px;
    }

    .hero-image {
        height: 600px;
    }

    .home h2 {
        top: 150px;
        font-size: 3rem;
    }
    
    .home p {
        top: 310px;
        font-size: 1.6rem;
    }
    
    .landing-page-button {
        top: 450px;
        font-size: 1.6rem;
    }  
}

/* For medium screen sizes with minimum width of 720px and maximum height of 650px - unlikely scenario but good to cater for it  */

@media screen and (min-width: 720px) and (max-height: 650px) {
    .hero-image {
        height: 500px;
    }

    .home h2 {
        top: 110px;
    }
    
    .home p {
        top: 260px;
    }
    
    .landing-page-button {
        top: 380px;
    }  
}

/* For medium screen sizes with minimum width of 720px and maximum height of 550px - unlikely scenario but good to cater for it  */

@media screen and (min-width: 720px) and (max-height: 550px) {
    .hero-image {
        height: 420px;
    }

    /* .home h2 {
    } */
    
    .home p {
        top: 230px;
    }
    
    .landing-page-button {
        top: 330px;
    }  
}

/* For medium screen sizes with minimum width of 700px and maximum height of 450px  */

@media screen and (min-width: 700px) and (max-height: 450px) {
    .hero-image {
        height: 350px;
    }

    .home h2 {
        font-size: 2.8rem;
    }
    
    .home p {
        top: 200px;
        font-size: 1.3rem;
    }
    
    .landing-page-button {
        top: 270px;
        font-size: 1.35rem;
    }  
}

/* For medium screen sizes from 900px wide and up*/

/* @media screen and (min-width: 900px) {
    .logo {
        width: 350px;
    }

    .menu-toggle-icon {
        margin-top: 25px;
    }

    .hero-image {
        height: 600px;
    }

    .home h2 {
        top: 110px;
        font-size: 3.5rem;
    }
    
    .home p {
        top: 230px;
        font-size: 1.8rem;
    }
    
    .landing-page-button {
        top: 350px;
        font-size: 2rem;
    } 
} */

/* For larger screen sizes from 1110px wide and up*/

@media screen and (min-width: 1110px) {
    .logo {
        width: 325px;
    }

    .menu-toggle-icon {
        display: none; 
    }

    .menu {
        position: static;
        display: block;
        float: right;
        margin-top: 27px;
        width: 65%;
    }

    .menu li {
        display: inline-block;
        font-size: 180%;
        list-style-type: none;
        margin-left: 5px;
    }

    .hero-image {
        background: url('../images/hero-image-wide.jpg') no-repeat center center;
        background-size: cover;
    }
}
